!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/static/bootstrap.min.css")
    style(type="text/css")
      body {padding-top: 60px; max-width: 100%;}
      img {max-width: 100%;}
      .container-fluid > .sidebar {float:right; width:12%;min-width:160px; margin-left:1%;position:relative;left:0px;}
      .container-fluid > .content {margin-left:18%;width:61%;float:left;}
      .container-fluid > #sidebar-left {position:absolute;}
  body
    .topbar(data-dropdown="dropdown")
      .topbar-inner
        .container
          h3 
            a(href="/") DIA
          ul.nav-list.pkg
            block nav
    .container-fluid
      #sidebar-left.sidebar
        .well
          h3 Links
          block links
      .content
        block body
      #sidebar-right.sidebar
        .well
          block rightbar
