extends default
html
  head
  head
    block title
      title Image not found.
  body
    block nav
      li
        a(href="/") Home
      li
        .active
          a(href="/add") New Image
    block links
      li
        a(href="/") Home
      li
        a(href="/add") New Image
    block body
      .hero-unit
        h3!= message
    block rightbar
      p Nothing to see here...